body {
    background-color: #000000e5;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    overflow: scroll;
  }
  
  .content {
    flex-grow: 1;
  }
  
  h1{
    color: rgb(224, 72, 34);
    text-align: right;


  }

  .navbar {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    font-weight: 700;
    font-size: 18px;
    color: rgb(224, 72, 34); 
    padding: 60px 20px;
    margin-bottom: 50%;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .navbar li a{
    color: antiquewhite;
    text-decoration: none;

  }
  
  /* Assigning separate background colors to each li */
  .navbar li:nth-child(1),
  .navbar li:nth-child(2),
  .navbar li:nth-child(3),
  .navbar li:nth-child(4) {
    background-color: #da5903; /* Change to your preferred color */
  }
  
  .navbar li:hover {
    color: #000000;
    /* Adjust hover effect as needed */
  }

  .navbar a:hover {
    color: #000000;
    /* Adjust hover effect as needed */
  }

  .menu-pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;

    

  }
  
  .menu-pictures img{
    width: 150px;
    height: 150px;
    margin: 20px;
    
  }

