body{
    margin: 0;
    padding: 0;
    background-color: #000000e5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Franklin  Gothic Medium';
    background-color: rgb(0, 0, 0);
    gap: 40px;
}

.content h1{
    font-size: 50px;
    text-align: center;
    color: orangered;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    

}

.AddOrder{

    margin: 10px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
    padding: 10px 20px;
    outline: 2.5px solid #c84c05;
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-bottom: 20px;
    background-color: black;
    color: #cf8b0b;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
   

}

.AddOrder:hover{

    background-color: #c84c05; /* Darker background color on hover */
    color: #ffffff;
    outline: 2.5px solid #000000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    

}

.Checkout{
    
    margin: 10px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
    padding: 10px 20px;
    outline: 2.5px solid #c84c05;
    position: absolute;
    bottom: 0;
    right: 28%;
    margin-bottom: 20px;
    background-color: black;
    color: #cf8b0b;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}

.Checkout:hover{

    background-color: #c84c05; /* Darker background colror on hover */
    color: #ffffff;
    outline: 2.5px solid #000000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}