body{
    margin-top: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    background-color: #FEFCF3;
    gap: 40px;
}p

.food-pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid white;
}

.food-pictures img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.order-button {
    margin: 10px;
    background-color: #FEFCF3;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: 2.5px solid #000000;
    transition: background-color 0.1s ease; /* Smooth transition for background-color */
}

.order-button:hover {
    background-color: #026f14; /* Darker background color on hover */
    color: #F5EBE0;
    outline: 2.5px solid #000000;

}
