body{
    margin-top: 0px;
    padding: 0px;
    background-color: #222831;
}

h1 {
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

h2 {
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 13px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    gap: 40px;
}p

.food-pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid #f2f2f2;
}

.food-pictures img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.order-button {
    margin: 10px;
    background-color: #00ADB5;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: 2.5px solid #000000;
    transition: background-color 0.1s ease;
}

.order-button:hover {
    background-color: #006267;
    color: #f2f2f2;
    outline: 2.5px solid #000000;

}
